<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="../static/login.css"> <!-- Asegúrate de tener este archivo CSS -->
</head>
<body>
    <div class="nav">
        <ul>
            <li><a href="#">Inicio</a></li>
            <li><a href="#">Acerca de</a></li>
            <li><a href="#">Catalogo</a></li>
            <li><a href="#">Contacto</a></li>
        </ul>
    </div>

    <div class="login-container">
        <div class="form-box">
            <h2>Iniciar sesión</h2>
            <form action="" class="login" id="login">
                <input type="email" placeholder="Correo electronico" required>
                <input type="password" placeholder="Contraseña" required>
                <a href="catalogo.html"><button type="submit">INICIAR SESIÓN</button></a>
                <a href="register.html">¿No tienes cuenta?</a>
            </form>
        </div>
    </div>

    <script src="../static/login.js"></script>
</body>
</html>
